.level {
    display: flex;
    flex-direction: row;

    &__dot {
        flex-grow: 1;
        height: 10px;
        background-color: var(--color-primary-darker);

        &--filled {
            background-color: var(--color-success);
        }

        &:not(:last-child) {
            margin-right: 3px;
        }
    }
}
