$space: 3mm;

:host {
    display: block;
    height: 100%;
    color: var(--color-primary-inverse);
    background-color: var(--color-primary);
    padding-top: $space;
    line-height: 2;
}

h1 {
    margin-bottom: 0;
    padding: 0 $space;
}

h2 {
    font-style: italic;
    padding: 0 $space;
}

h3 {
    background-color: var(--color-primary-darker);
    padding: 0 $space;
    margin-bottom: 0;
    line-height: 3;
}

img {
    width: 100%;
    height: auto;
}

section {
    &:not(:last-child) {
        margin-bottom: calc(#{ $space * 2 });
    }
}

.personal {
    padding: 0 $space;

    p {
        &:nth-child(odd) {
            margin-bottom: 0;
            line-height: 1;
            font-weight: bold;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.skills {
    div {
        padding: 0 $space;

        p {
            margin-top: $space;
            margin-bottom: 0;
        }
    }
}
