<div class="paper">
    <app-outline
        [name]="(name$ | async)!"
        [title]="(title$ | async)!"
        [personal]="(personal$ | async)!"
        [skills]="(skillList$ | async)!"
    ></app-outline>
    <app-career
        title="Berufserfahrung"
        [career]="(career$ | async)!"
    ></app-career>
</div>

<div class="paper">
    <app-outline
        [name]="(name$ | async)!"
        [title]="(title$ | async)!"
        [personal]="(personal$ | async)!"
        [skills]="(skillList$ | async)!"
    ></app-outline>
    <app-career
        title="Ausbildung"
        [career]="(education$ | async)!"
    ></app-career>
</div>

<div class="paper">
    <app-outline
        [name]="(name$ | async)!"
        [title]="(title$ | async)!"
        [personal]="(personal$ | async)!"
        [skills]="(skillList$ | async)!"
    ></app-outline>
    <div class="column">
        <app-career
            title="Abschlüsse und Zertifikate"
            [career]="(degrees$ | async)!"
        ></app-career>
        <app-career
            title="Persönliche Interessen"
            [career]="(interests$ | async)!"
        ></app-career>
    </div>
</div>
