<div class="paper">
    <app-outline [person]="(person$ | async)!"></app-outline>
    <app-career title="Berufserfahrung" [careerList]="(career$ | async)!"></app-career>
</div>

<div class="paper">
    <app-outline [person]="(person$ | async)!"></app-outline>
    <app-career title="Ausbildung" [careerList]="(education$ | async)!"></app-career>
</div>

<div class="paper">
    <app-outline [person]="(person$ | async)!"></app-outline>
    <div class="column">
        <app-career title="Abschlüsse und Zertifikate" [careerList]="(degreeList$ | async)!"></app-career>
        <app-career title="Persönliche Interessen" [careerList]="(interestList$ | async)!"></app-career>
    </div>
</div>
