@import '../../../../breakpoints';

:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;

    @media only screen and (min-width: $paper-width) {
        margin: 10mm 0;
    }

    @media only print {
        display: inline;
    }
}

.paper {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;

    @media only screen and (min-width: $paper-width) {
        flex-direction: row;
        height: 297mm;
        width: $paper-width;
        margin-bottom: 10mm;
        box-shadow: 5px 5px 15px 5px black;
    }

    @media only print {
        height: 297mm;
        width: $paper-width;
        flex-direction: row;
        -webkit-print-color-adjust: exact;
    }

    &:not(:first-child) {
        app-outline {
            display: none;
        }

        @media only screen and (min-width: $paper-width) {
            app-outline {
                display: block;
            }
        }

        @media only print {
            app-outline {
                display: block;
            }
        }
    }

    app-outline {
        flex-basis: 30%;
    }

    app-career {
        flex-grow: 1;
    }
}

.column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    app-career {
        flex-grow: 0;
    }
}
