<div class="paper">
    <app-outline [person]="(person$ | async)!"></app-outline>
    <app-career title="Berufserfahrung" [career]="(career$ | async)!"></app-career>
</div>

<div class="paper">
    <app-outline [person]="(person$ | async)!"></app-outline>
    <app-career title="Ausbildung" [career]="(education$ | async)!"></app-career>
</div>

<div class="paper">
    <app-outline [person]="(person$ | async)!"></app-outline>
    <div class="column">
        <app-career title="Abschlüsse und Zertifikate" [career]="(degreeList$ | async)!"></app-career>
        <app-career title="Persönliche Interessen" [career]="(interestList$ | async)!"></app-career>
    </div>
</div>
