<!-- <mat-tab-group mat-align-tabs="start" backgroundColor="primary" (selectedTabChange)="resolvePerson($event)">
    <ng-container *ngFor="let person of personList$ | async">
        <mat-tab [label]="person.name">
            <router-outlet></router-outlet>
        </mat-tab>
    </ng-container>
</mat-tab-group> -->

<nav mat-tab-nav-bar backgroundColor="primary">
    <ng-container *ngFor="let person of personList$ | async; let index = index">
        <a mat-tab-link [active]="(selected$ | async) == index" [routerLink]="[ 'person', index ]">
            {{ person.name }}
        </a>
    </ng-container>
</nav>
<router-outlet></router-outlet>

<!-- <div [@routeAnimations]="'person'">
    <router-outlet #outlet="outlet"></router-outlet>
</div> -->
