@import '../../../../breakpoints';

:host {
    display: flex;
    flex-direction: column;
    color: var(--color-primary);
}

h1 {
    margin: 0;
    padding: 5mm;
    font-weight: bold;
}

h2 {
    margin-bottom: 0;
}

h3 {
    font-style: italic;
    line-height: 1;
    margin-bottom: 0;
}

section {
    padding: 5mm;

    mat-divider {
        margin-bottom: 5mm;
    }
}

.job {
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: $large-mobile) {
        flex-direction: row;
    }

    @media only print {
        flex-direction: row;
    }

    &__time {
        display: flex;
        flex-direction: row;
        margin-right: 3mm;

        mat-list-item {
            text-align: center;
        }

        @media only screen and (min-width: $large-mobile) {
            flex-basis: 120px;
        }
    }

    mat-list-item {
        font-size: 14px;

        @media only screen and (min-width: $paper-width) {
            height: 22px !important;
        }

        @media only print {
            height: 22px !important;
        }

        ::ng-deep .mat-line {
            white-space: normal;
        }

        ::ng-deep .mat-list-item-content {
            padding-left: 0 !important;
        }
    }
}
